<div class="container mt-4">
    <div class="row box">
        <div class="col-3">
            <h1>
                Cryptohunter
            </h1>
        </div>
        <div class="col-6 header-balance">
            <div class="row">
                <div class="col-6 text-right">Balance:</div>
                <div class="col-6">$100,000,000</div>
            </div>
            <div class="row">
                <div class="col-6 text-right">Net Worth:</div>
                <div class="col-6">$100,000,000</div>
            </div>
        </div>
        <div class="col-3 header-info">
            <div class="row"><span>Logged in as: syphez</span></div>
            <div class="row"><span>Last logged in: 2017-01-01</span></div>
            <div class="row"><button class="btn btn-primary">Sign out</button></div>
        </div>
    </div>

    <div class="portfolio list">
        <h3>Portfolio</h3>
        <div class="row box">
            <div class="col-3">Name</div>
            <div class="col-3">Holdings</div>
            <div class="col-3">Worth ($)</div>
            <div class="col-3 text-right">Buy/Sell</div>
        </div>
        <div class="row list-element">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4 text-right">
                <button class="btn btn-primary">trade</button>
            </div>
        </div>
    </div>
    <div class="currencies list">
        <h3>Currencies</h3>
        <div class="row box">
            <div class="col-1">Rank</div>
            <div class="col-2">Name</div>
            <div class="col-3">Marketcap</div>
            <div class="col-3">Total supply</div>
            <div class="col-2">Price</div>
            <div class="col-1 text-right">Change (24h)</div>
        </div>
    </div>
</div>          
