<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-wrap">
                    <h1>{{titleTxt}}</h1>
                    <div ng-show="error != null" class="alert alert-danger" role="alert">
                        <span class="fa fa-exclamation-circle"></span>
                        {{error}}
                    </div>
                    <form ng-submit="signIn()" role="form" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label class="sr-only">Username</label>
                            <input class="form-control" type="username" name="username" placeholder="Username" ng-model="username">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input id="key" class="form-control" type="{{(showPassword) ? 'text' : 'password'}}" name="key" placeholder="Password" ng-model="password">
                        </div>
                        <div class="checkbox" ng-class="{'show': showPassword}">
                            <span class="character-checkbox" ng-click="showPassword = !showPassword"></span>
                            <span class="label">Show password</span>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="{{titleTxt}}">
                    </form>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>{{tipTxt}}</p>
                <p><a href="{{link}}">{{linkTxt}}</a></p>
            </div>
        </div>
    </div>
</footer>
