<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-wrap">
                    <h1>Sign in</h1>
                    <div ng-show="error != null" class="alert alert-danger" role="alert">
                        <span class="fa fa-exclamation-circle"></span>
                        {{error}}
                    </div>
                    <form ng-submit="signIn()" role="form" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label class="sr-only">Username</label>
                            <input class="form-control" type="username" name="username" placeholder="Username" ng-model="username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input id="password" class="form-control" type="{{(showPassword) ? 'text' : 'password'}}" name="password" placeholder="Password" ng-model="password">
                        </div>
                        <div class="checkbox" ng-class="{'show': showPassword}">
                            <span class="character-checkbox" ng-click="showPassword = !showPassword"></span>
                            <span class="label">Show password</span>
                        </div>
                        <button id="btn-login" class="btn btn-primary btn-block" type="submit" ng-disabled="isLoading">
                            <span ng-show="!isLoading">Sign in</span>
                            <i class="fa fa-spin fa-circle-o-notch" ng-show="isLoading"></i>
                        </button>
                    </form>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Don't have a user?</p>
                <p><a href="/signup">Sign up</a></p>
            </div>
        </div>
    </div>
</footer>
