@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Quicksand');
$main_font: 'Quicksand';
// $alt_font: 'Electrolize';
body {
    font-family: $main_font;
}

form {
    button,
    select,
    input {
        width: 100%;
    }
}

.box {
    padding: 10px;
    border-radius: 10px;
}

.list {
    padding-top: 20px;
}

.list-element {
    padding-top: 10px;
    button {
        text-transform: uppercase;
    }
}

.header-balance {
    font-size: 1.8em;
    // font-family: $alt_font;
}

.header-info {
    span {
        width: 100%;
        text-align: right;
    }
    button {
        margin-left: auto;
        margin-right: 0;
    }
}

#logout {
    right: 0;
    position: absolute;
}

#login {
    padding-top: 50px;

    .container {
        max-width: 20em;
    }

    h1 {
        color: $primary;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .form-group {
        margin-bottom: 25px;
    }
    .checkbox {
        margin-bottom: 20px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    .checkbox.show:before {
        @extend .fa;
        @extend .fa-check;
        color: $primary;
        font-size: 17px;
        margin: 4px 0 0 4px;
        position: absolute;
        pointer-events: none;
    }
    .checkbox .character-checkbox {
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid #ccc;
        vertical-align: middle;
        display: inline-block;
    }
    .checkbox .label {
        color: #6d6d6d;
        font-size: 13px;
        font-weight: normal;
    }
}

#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
    p {
        margin-bottom: 0;
    }
    a {
        color: inherit;
    }
}
