<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" rel="stylesheet">
    <title>Moment4 - ToDo</title>
</head>
<body>
    <div ng-app="todo" ng-controller="todoController" class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">
               Cryptohunter
            </h1>
        </div> 
    </div>          
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
</body>
</html>
